body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161617;
    font-family: 'Inter', sans-serif;
}

.centered {
    text-align: center;
}

h1 {
    color: white;
    font-size: 2.5rem;
    margin: 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
