body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161617;
    font-family: 'Inter', sans-serif;
    color: white;
}

.centered {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

.link {
    color: #E13A67;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
